* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background:
          radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
          radial-gradient(at 100% 100%,      rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px),
          #8a3;
  background-size: 20px 20px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  font-size: 2em;
  padding: 0.5em;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.App-footer {
  padding: 1em;
  margin-top: auto;
  color: #fff;
  text-align: right;
  background-color: #222;
  font-family: 'Raleway', sans-serif;
}

.App-content {
  flex: 1;
  width: 100%;
}

.App-intro {
  font-size: large;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
